<div class="center jumbotron">
  <h1>Bem vindo ao BMQueue</h1>

  <h2>
    Controle de fila para solicitação de suporte da
    <a href="https://www.brasilmercantil.com.br/">BMTech Brasil</a>
    , seja bem vindo.
  </h2>

  <%= link_to "Sign up", signup_path, class: "btn btn-lg btn-primary" %>
</div>

